
<p>{{title}}</p>
<div><img src="{{itemImageUrl}}"></div>

<app-top-bar></app-top-bar>

<h4>---Hi this is just a header4-{{recommended}}</h4>


<label>Type something:
  <input #customerInput>{{customerInput.value}}
</label>

<div class="container">
  <router-outlet>ss___THIS IS A CONTAINER___ss</router-outlet>...this is the end.
</div>


<!-- "The sum of 1 + 1 is 2" -->
<p>The sum of 1 + 1 is {{1 + 1}}.</p>


<!-- "The sum of 1 + 1 is not 4" -->
<p>The sum of 1 + 1 is not {{1 + 1 + getVal()}}.</p>


<div class="special">Plain old HTML</div>

<button disabled>Save</button>

<!-- Bind button disabled state to `isUnchanged` property -->
<button [disabled]="isUnchanged">Save it!</button>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->